services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgres://ifemfweilun:P@ssw0rdIfem@db:5432/ifem_radar
      - AWS_ENDPOINT_URL=http://minio:9000
      - AWS_BUCKET_NAME=ifem-radar
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
      - AWS_REGION=us-east-1
    depends_on:
      - db
      - minio
      - createbuckets

  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=ifemfweilun
      - POSTGRES_PASSWORD=P@ssw0rdIfem
      - POSTGRES_DB=ifem_radar
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./survey.sql:/docker-entrypoint-initdb.d/init.sql

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c " until (mc alias set minio http://minio:9000 minioadmin minioadmin); do echo '...waiting...' && sleep 1; done; mc mb minio/ifem-radar || echo 'bucket already exists'; mc anonymous set public minio/ifem-radar; exit 0; "

volumes:
  postgres_data:
  minio_data:
